@font-face {
  font-family: Q;
  /* font-style: normal; */
  /* font-weight: 400; */
  src: url(q.woff2) format("woff2"), url(q.woff) format("woff");
  /* Amiri Quran 1.000; SIL OFL 1.1; https://github.com/alif-type/amiri */
  /* subsetted and converted to WOFF & WOFF2 using pyftsubset; see .font.pl file */
  font-display: swap;
}
html {
  font-size: 18px;
  font-family: Q, "Amiri Quran", "Amiri", serif;
  background: #e0e0c8;
  color: #222;
  line-height: 2.5;  /* because AmiriQuran is extra high for Quranic marks */
  touch-action: manipulation; /* disable double-tap zooming; https://stackoverflow.com/a/53236027 */
}
h2 {
  line-height: 1.5;
  padding-bottom: 0.5em;
}
#a {
  font-size: 24px;
  line-height: 3;  /* for overline */
}
body > * {
  width: 36rem;
  max-width: 85%;
  margin: auto;
}
#q { color: #666 }
#back {
  opacity: 60%;
  text-align: center;
}
ul {
  padding: 0 1em;
  margin: 0;
}
* {
  text-weight: normal;
}
button {
  font-family: "KacstOne", serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 8em;
  margin: 1em auto;
  padding: 0.5em;
  cursor: pointer;
  background: inherit;
  color: inherit;
  border-radius: 0.4em;
  transition: box-shadow 0.1s;
  box-shadow: inset 0  2em 2em -2em rgba(255, 255, 255, 0.5);
}
button:hover {
  box-shadow: inset 0 -2em 2em -2em rgba(255, 255, 255, 0.5);
}
em {
  font-style: normal;
  border-bottom: 0.1em solid;
}
a {
  text-decoration: underline 1px;
  text-underline-offset: 60%;  /* below Ayn in Amiri */
  color: #009000;
}
a:hover { color: #062; text-decoration-thickness: 2px }
@media (prefers-color-scheme: dark) {
  html {
    background: #262620;
    color: #e0e0c8;
  }
  #q { color: #999 }
  a       { color: #4f4 }
  a:hover { color: #8fc }
}
